<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportsServer.My.MySettings.ReportsConnectionString"
      connectionString="Data Source=.\primaverav810;Initial Catalog=PRIACC;User ID=sa;Password=accsys2011!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>