@*@{
    ViewBag.Title = "Home Page";
}*@

@*<div class="jumbotron">
    <h1>Grupo Merdian 32</h1>
    <p class="lead">Pendentes de Clientes do Grupo Meridian 32.</p>
    <p><a href="http://www.meridian32.com/" class="btn btn-primary btn-lg">Leia Mais  &raquo;</a></p>
</div>*@

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Selecione a Empresa </small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
 
 
<div class="row">
    <div class="col-lg-12">


        @{
            Html.RenderAction("ListaEmpresas", "Empresas");
        }


    </div>

</div>




@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(window).bind("load", function () {
            $.get('Home/Pendentes', function (result) {

                Morris.Area({
                    element: 'teste',
                    data: result,
                    // The name of the data record attribute that contains x-values.
                    //xkey: 'data',
                    //// A list of names of data record attributes that contain y-values.
                    //ykeys: ['Value'],
                    //// Labels for the ykeys -- will be displayed when you hover over the
                    //// chart.
                    //labels: ['Value']

                    xkey: 'data',
                    ykeys: ['valor'],
                    labels: ['valor'],
                    //ykeys: ['empresa', 'valor', 'cliente'],
                    //labels: ['empresa', 'valor', 'cliente'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });
            });
        });
    </script>



}